body{
    background-color: rgb(244, 243, 248);
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

/* class to share  */
.navi{
    color: #8987A1;
}
.primary-title-color{
    color: #E95A08;
}
.primary-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.header-container{
    display: flex;
    margin: 36px 110px;
    gap: 28rem;
}
.navigation ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

/* .navigation ul li{

} */
.n-home{
    color: #252432;
    font-size: medium;
    font-weight: 700;
}
.cart{
    display: flex;
}
.navigation ul li a{
    text-decoration: none;
    color: #000000;
}

/* banner-section  */
.banner{
    display: flex;
    margin: 30px 110px;
}
.title{
    font-weight: 700;
    font-size: 4.0625rem;
}

/* Our plants section  */
.plants-container{
    
    text-align: center;
    margin: 30px 110px;

}
.head-of-our-plants{
    margin: 0 auto;
    font-size: 3.125rem;
    font-weight: 700;
}
