body{
    background-color: rgb(244, 243, 248);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.position{
    width: 100%;
    max-width: 100%;
    position:sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(244, 243, 248);
    margin-top: 50px;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

/* class to share  */
.shadow{

    filter: brightness(50%);
}
.shadow:hover{
        /* filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.6)); */
        filter: brightness(40%);
}
.primary-btn{
    background-color: #E95A08;
    color: #FFFFFF;
    width: 16.875rem;
    padding: 26px 50px;
    border: none;
    cursor: pointer;
}
.shop-now{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125rem;
}
.text-font{
    font-weight: 700;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.set-text{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
}
.rad {
    border-radius: 14px;
}
.navi{
    color: #8987A1;
}
.primary-title-color{
    color: #E95A08;
}
.primary-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.header-container{
    display: flex;
    margin: 36px 110px;
    justify-content: space-between;
}
.navigation ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    cursor: pointer;
}

/* .navigation ul li{

} */
.n-home{
    color: #252432;
    font-size: medium;
    font-weight: 700;
}
.cart{
    display: flex;
}
.navigation ul li a{
    text-decoration: none;
    color: #000000;
}

/* banner-section  */
.banner{
    display: flex;
    margin: 30px 110px;
}
.title{
    font-weight: 700;
    font-size: 4.0625rem;
}

/* Our plants section  */
.plants-description-container{
    /* margin: 120px 110px; */
    text-align: center;
    

}
.head-of-our-plants{
    margin: 0 auto;
    font-size: 3.125rem;
    font-weight: 700;
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin: 50px 110px;
    gap: 20px;
}
.card{
    margin-bottom: 30px;
    
}
.card>img{
    width: 16.875rem;
    height: 20.125rem;
}


.plants-lover-section-container{
    display: flex;
    gap: 70px;
    margin: 180px 110px;

}
.image-container{
    position: relative;
}
#badge{
    position: absolute;
    top: -100px;
    right: -100px;
}

.lover-title{
    font-weight: 700;
    font-size: 3.125rem;
}

.lover-description>ul>li{
    margin-bottom: 20px;
}
/* deal  */
.deal{
    margin: 120px 110px;
    text-align: center;
}
.deal-title{
     
    font-weight: 700;
    font-size: 3.125rem;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 28px;
    margin: 120px 110px;
    
}
.column-image{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.bloom{
    position: relative;
}
.ana{
    position: relative;
}
.big-one{
    position: relative;
    text-align: center;
}
.big-text{
    position: absolute;
    top: 35%;
    left: 25%;
}
.big-one>img{
    border-radius: 22px;
}
.zabo-text{
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
}
/* join the color branch  */
.color-branch{
    width: 100%;
}
.color-branch>img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.color-branch{
    position: relative;
}
#form{
    position: absolute;
    top: 20%;
    left:20% ;

}
.form{
    text-align: center;
}
.title-of-form{
    font-weight: 700;
    font-size: 3.125rem;
    color: #FFFFFF;
}
.subcribe-form{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
.input{
    width: 644px;
    height: 50px;
    color: #8987A1;
    padding: 0 20px;
    border: none;
}
.subscribe-btn{
    width: 186px;
    height: 50px;
    padding: 0 50px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    background-color: #E95A08;
    text-align: center;
        justify-content: center;
            align-items: center;
            cursor: pointer;
}

/* footer  */
.footer-container{
    display: flex;
    gap: 100px;
    margin: 50px 110px;
}
.footer-title{
    font-size: 1.325rem;
}
.footer-logo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    
}
.icon-img{
    width: 30px;
    height: 30px;
    
    justify-content: center;
}
.icon-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.footer-nav-list1,
.footer-nav-list2{
  font-size: 16px;  
}
.footer-nav-list1>ul>li,
.footer-nav-list2>ul>li{
    list-style: none;
    margin-bottom: 32px;
}

/* responsive for mobile  */

@media screen and (max-width: 576px){
    /* share classes  */
    .hide{
        display: none;
    }
    .title{
        display: none;
    }
    .margin{
        margin: 0 auto;
    }
    .primary-btn{
        width: 171px;
    }

    /* banner  */
    .banner-image>img{
        max-width: 100%;
        width: 100%;
    }
    /* navbar  */
    .n-home,
    .shop,
    .about-us{
        display: none;
    }
    .header-container{
        margin: 0 16px;
    }
    .logo>img{
        width: 63px;
        height: 38px;
    }
    /* banner  */
    .banner{
        flex-direction: column-reverse;
        margin: 0 auto;
        align-items: center;
    }
    .gallery{
        grid-template-columns: 1fr;
    }
    .big-one{
        align-items: center;
        justify-content: center;
    }
        .img{
                    width: 361px;
                        height: 197px;
        }
        .zabo-text{
            font-size: 1.25rem;
        }
                .big-text{
                    top: 25%;
                    left: 23%;
                }
        /* card          */
        .plant-container{
            grid-template-columns: repeat(2,1fr);
            margin: 65px 10px;
            gap: 10px;
        }
        .card>img{
            width: 171px; 
            height: 196.5px;
        }
        /* plant lover section  */
        .plants-lover-section-container{
            flex-direction: column;
            margin:43px 10px ;
            align-items: center;
        }
        .image-container>img{
            width: 350px;
            height: 396px;
        }
        .lover-title{
            font-size: 2.1rem;
            margin: 18px 17px;
        }

        #badge{
            display: none;
        }

     /* join the color bunch             */
     .color-branch{
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
     }
         .color-branch>img{
            width:393px ;
            height:295px ;

         }
         .input{
            width: 218px;
            height: 50px;
         }
         /* our deal  */
    .deal{
        margin: 40px 10px;
    }
    .gallery{
        margin: 0 10px;
        align-items: center;
        justify-content: center;
    }
}